@charset "UTF-8";

body {
    background-color: #000000;
}

main {
    border: 3px solid #FF0000;
    width: 1000px;
    margin: auto;
    padding: 16px 12px 16px 12px;
    box-shadow: 1px 5px 7px 15px #ff0000;
    margin-bottom: 30px;
}


.nada {
    height: 60px;
}

fieldset {
    border: 1px solid #35FF69;
}

* {
    border: 0px;
    margin: 0px;
    padding: 0px;
}

div {
    text-indent: 5%;
}

nav {
    width: 900px;
    height: 60px;
    border: 2px solid #FF0000;
    margin: auto;
    padding: 30px;
    background-color: #000000;
}

nav>ul>li>a {
    text-decoration: none;
    color: #FFFFFF;
}

nav>ul>li>ul {
    display: none;
}

nav>ul>li:hover>ul {
    display: block;
    position: relative;
    background-color: #9d23fa;
    width: 300px;
    right: 66px;
    top: 6px;
    border-radius: 2%;
}

nav>ul>li>ul>li {
    list-style: none;
    padding: 4px 4px 4px 4px;
    height: 36px;
}

nav>ul>li>ul>li>a {
    color: #FF0000;
    text-decoration: none;
}

nav>ul>li>ul>li:hover {
    background-color: #FF0000;
}

nav>ul>li>ul>li:hover>a {
    color: #FFFFFF;
}

p {
    color: #FFFFFF;
    padding-bottom: 20px;
    line-height: 1.4em;
    text-align: left;
    text-indent: 50px;
}

ul {
    background-color: #000000;
    list-style: none;

}

nav>ul>li {
    float: left;
    width: 170px;
    height: 34px;
    text-align: center;
    font-size: 15px;
    list-style: none;
    padding: 6px 64px 0px 65px;
}

nav>ul>li:hover {
    background-color: #9d23fa;
    display: block;
    border-radius: 2%;
}

nav>ul>li:hover>a {
    color: #FFFFFF;
}

ol {}


li {
    color: #F5F12C;

}

h1 {
    color: #35FF69;
    background-color: #000000;
    text-align: center;
}

h2 {
    color: #35FF69;
    background-color: #000000;
    text-align: center;
}

h3 {
    color: #35FF69;
    background-color: #000000;
    text-align: center;
}

a {
    color: #9d23fa;
    text-align: center;
}

legend {
    color: #35FF69;
}